
.App {
  overflow:scroll;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  text-align: center;
  
}

.img1 {

  width: 150px;
  /* height: 100%; */
  animation-name: pics;
  animation-duration: 25s;
  animation-iteration-count: 1;
  background-image: url("assets/pic1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 19px;
  margin-bottom: 19px;
}

@keyframes pics {
  0% {
    background-image: url("assets/pic8.jpg");
  }
  12.5% {
    background-image: url("assets/pic1.png");
  }
  25% {
    background-image: url("assets/pic2.png");
  }
  37.5% {
    background-image: url("assets/pic3.jpg");
  }
  50% {
    background-image: url("assets/pic4.jpg");
  }
  62.5% {
    background-image: url("assets/pic5.jpg");
  }
  75% {
    background-image: url("assets/pic6.jpg");
  }
  87.5% {
    background-image: url("assets/pic7.jpg");
  }
  100% {
    background-image: url("assets/pic8.jpg");
    
  }
}
